extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='#hovedinnhold') Hjem
          a(href='error.jade') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(action='')
              input(type='text')
        br
        h2 Something awesome, hopefully #1
